@font-face {
    font-family: 'cheese';
    src: url('fonts/TheCheddarcakeFactory-pO5r.ttf') format('truetype');
}

body {
    background-color: rgb(243, 193, 148);
    font-family: 'Courier', monospace; /* Set default font to Courier */
}

.cheese {
    display: flex;
    justify-content: center;
}

.cheese h1 {
    font-family: 'cheese', sans-serif;
    color: rgb(154, 32, 53);
    text-align: left;
    margin: 0;
}

.cheese .the {
    margin-left: 20px;
    font-size: smaller;
}

.cheese .spacing {
    display: inline-block;
    width: 10px;
}

.centered-column {
    text-align: center;
    margin-top: 20px;
}

.centered-column p {
    text-align: center;
    max-width: 600px;

    margin: 0 auto;
}
/* Add these CSS styles to your styles.css file or within a <style> element in your HTML */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

#currentlyPlaying {
    position: relative;
    padding-bottom: 15px;
}
